.clients {
  padding: 90px 0 100px 0;
  text-align: center;
}

.clients__list {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.clients__item {
  margin: 0 20px;
  display: inline-block;
  height: 100px;
}

.clients__image {
  height: 100%;
}

.clients__title {
  margin: 0 0 60px;
}
