.clients {
  padding: 75px 0 50px 0px;
  display: flex;
  justify-content: center;
}

    .clients__item {
      margin: 0px 20px 0px 20px;
      display: inline-block;
      width: 70px;
      height: 70px;
      background: url(../img/logo.jpg) no-repeat;
    }

    .clients__title {
      text-align: center;
      padding: 50px 0px 0px 0px;
    }

    .clients__section {
      padding: 0px 0px 100px 0px;
    }
