@import "variables";

.lineup {
  padding: 50px 0;
  position: relative;
}

.lineup__item {
  padding-right: 20px;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: -10px;
    left: -20px;
    width: 6px;
    height: ~"calc(100% + 20px)";
    background-color: @color-text;
  }
}
