@import "variables";

.text {
    font-size: 18px;
    line-height: 1.75;
    letter-spacing: 0.025em;
}

    .text_level-2 {
        font-size: 16px;
        line-height: 2;
    }

    .text_level-3 {
        font-size: 16px;
    }

    .text_level-4 {
        font-size: 14px;
        line-height: 1;
    }

    .text_small-tag {
        font-size: 13px;
        line-height: 1.5;
        font-variant: small-caps;
    }

    .text_color_unimportant {
        color: @color-text-unimportant;
    }

    .text_color_contrast {
        color: @color-text-contrast;
    }

    .text_emphasis_1 {
        font-weight: bold;
    }

    .text_emphasis_2 {
        font-style: italic;
    }

