@import "variables";

.title {
    font-size: 78px;
    font-weight: bold;
    position: relative;
}

.title_section {
    font-size: 27px;
}

.title_margin-section {
    margin-bottom: 30px;
}

.title_level-2 {
    font-size: 27px;
    margin: 0 0 50px;
}

.title_level-3 {
    font-size: 27px;
    // margin-bottom: 33px;
}

.title_level-4 {
    font-size: 18px;
    // margin-bottom: 25px;
}

